# Granger Causality Comparison Covid and Portfolios

Table of context:
- [China](#chinag)
- [USA](#usag)
- [Japan](#japang)
- [Switzerland](#swissg)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ipynb 
import os.path
import statsmodels.api as sm
from importlib import reload 

# other libraries here
import requests
import arrow

In [2]:
import granger_causality_functions
reload(granger_causality_functions)
from granger_causality_functions import scale_data, plot_time_series, plot_correlation_matrix, make_stationary
from granger_causality_functions import grangers_causality_matrix, network_granger, granger_causality

In [3]:
countries_of_interest = ["USA", "CHE", "JPN", "CHN"]

In [5]:
start_date = "2020-01-1"
end_date = "2020-12-01" # yesterday
dfs = {} # dfs of cumulative confirmed cases
for country in countries_of_interest:
    df = pd.read_csv(f"datasets/{country}_covid.csv")
    dfs[country] = df

# China  <a class="anchor" id="chinag"></a>

In [6]:
country = 'China'

In [7]:
df_port = pd.read_csv(f"datasets/{country}_portfolio.csv")
df_port.head()

         Date        EW
0  2020-01-06 -0.882252
1  2020-01-07  0.772575
2  2020-01-08 -0.519914
3  2020-01-09  1.819714
4  2020-01-10 -0.042838

# USA  <a class="anchor" id="usag"></a>

# Japan  <a class="anchor" id="japang"></a>

In [3]:
country = 'japan'

In [5]:
df_portfolio = pd.read_csv(f'datasets/{country}_portfolio.csv')
df_portfolio.head()

         Date        EW        VW
0  2020-01-03 -0.005942 -0.006846
1  2020-01-06  0.002206  0.003573
2  2020-01-07  0.001959  0.005275
3  2020-01-08  0.001305 -0.001305
4  2020-01-09  0.002878  0.004295

# Switzerland  <a class="anchor" id="swissg"></a>