In [3]:
import pandas as pd
import datetime as dt
import numpy as np
from importlib import reload

In [4]:
# import tickers
import tickers
reload(tickers)
from tickers import japan_tickers, china_tickers, us_tickers, ticker_id, swiss_tickers

import stock_analysis_functions
reload(stock_analysis_functions)
from stock_analysis_functions import returns, data_from_yahoo

In [5]:
country_names = ['China', 'USA', 'Japan', 'Switzerland']

start = dt.datetime(2020, 1, 1)
end = dt.datetime(2020, 12, 1)

In [6]:
datasets_chn = data_from_yahoo(china_tickers, ticker_id, start, end, 'china', read=True)
datasets_us = data_from_yahoo(us_tickers, ticker_id, start, end, 'usa', read=True)
datasets_jpn = data_from_yahoo(japan_tickers, ticker_id, start, end, 'japan', read=True)
datasets_swiss = data_from_yahoo(swiss_tickers, ticker_id, start, end, 'swiss', read=True)

adj_close = {'China':datasets_chn['adj_close'], 'USA':datasets_us['adj_close'], 'Japan':datasets_jpn['adj_close'], 'Switzerland':datasets_swiss['adj_close']}

In [7]:
index = adj_close['China']['Date']

In [9]:
df_return_china = returns(adj_close['China'].columns, adj_close['China'], index, 'China', True, True)
df_return_usa = returns(adj_close['USA'].columns, adj_close['USA'], index, 'USA', True, True)
df_return_japan = returns(adj_close['Japan'].columns, adj_close['Japan'], index, 'Japan', True, True)
df_return_swiss = returns(adj_close['Switzerland'].columns, adj_close['Switzerland'], index, 'Switzerland', True, True)

df_returns = {'China':df_return_china, 'USA':df_return_usa, 'Japan':df_return_japan, 'Switzerland':df_return_swiss}

## CHINA  <a class="anchor" id="china"></a>

In [10]:
country = 'China'

In [11]:
df_returns[country].head()

,TCEHY,BABA,MOUTAI,1398.HK,PNGAY,PDD,CICHY,3968.HK,ACGBY,JD,...,WXXWY,600309.SS,2202.HK,601633.SS,300015.SZ,600887.SS,BKFCF,AS7.F,6862.HK,300059.SZ
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,-1.704096,-1.260411,-4.552203,-0.826445,-0.370216,-0.824643,-2.328221,0.121217,-1.160716,0.689112,...,0.204510,1.878690,-2.911204,-0.326084,-0.278480,-0.031497,0.0,-1.243900,2.318386,0.628935
2020-01-06,-0.530282,-0.165899,-0.052854,-1.166668,0.289024,-1.956467,-0.465116,-0.968520,-0.813006,0.026318,...,-3.592189,-3.055843,-1.349316,-2.290075,-2.157905,-2.047885,0.0,-0.963195,-2.265855,0.937492
2020-01-07,2.070939,0.456982,1.534335,-0.337271,-0.452867,2.793711,-1.168230,-0.122254,-0.819670,0.842104,...,3.993570,-0.760872,0.607896,2.120529,1.686559,3.409461,0.0,6.857844,3.554867,-0.061918
2020-01-08,-0.261146,0.170011,-0.583807,-1.184426,-0.330858,-1.722881,0.236401,-2.325578,-0.367304,-0.052193,...,-0.153577,-0.967508,-0.604223,-1.857923,-0.969630,0.124408,0.0,-2.683773,1.343291,-3.717463

### EQUALLY WEIGHTED

In [13]:
df_returns[country] = df_returns[country].iloc[1:] # ignore first row
ew_portfolio = df_returns[country].mean(axis=1).values

### VALUE WEIGHTED

In [14]:
# steps to find it.....

In [15]:
# vw_portfolio = result here so we can build the dataframe :)

In [20]:
# build dataframe
df_portfolio = pd.DataFrame(index=df_returns[country].index)
df_portfolio['EW'] = ew_portfolio
#df_portfolio['VW'] = vw_portfolio

In [21]:
df_portfolio.to_csv(f'datasets/{country}_portfolio.csv')

## USA  <a class="anchor" id="usa"></a>

## JAPAN  <a class="anchor" id="japan"></a>

## SWITZERLAND  <a class="anchor" id="swiis"></a>